<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gitlab.kreikenbaum.suntime">
       <meta-data
         android:name="com.google.android.geo.API_KEY"
         android:value="AIzaSyBgd8QHPPIa2Y0zVXz_XklKw5dfz25eEzI"
         />
</manifest>
